<div class="container wrapper">
  <div class="inner_content">
    <div class="pad30">
    <p id="notice"><%= notice %></p>
      <div class="row pad25">
        <div class="span3">
          <a href="/"><%= image_tag "team1.jpg",  class: "user-avatar img-circle"%></a>
            <div class="pad15">
              <% if(@user.company_id != nil) %>
              <p>
                <strong>Company:</strong>
                <%= @user.company_id %>
              </p>
              <% end %>
              <% if(@user.name != nil) %>
              <p>
                <strong>Name:</strong>
                <%= @user.name %>
              </p>
              <% end %>
              <% if(@user.user_type != nil) %>
              <p>
                <strong>User type:</strong>
                <%= @user.user_type %>
              </p>
              <% end %>
              <% if(@user.height != nil) %>
              <p>
                <strong>Height:</strong>
                <%= @user.height %>
              </p>
              <% end %>
              <% if(@user.weight != nil) %>
              <p>
                <strong>Weight:</strong>
                <%= @user.weight %>
              </p>
              <% end %>
              <% if(@user.gender != nil) %>
              <p>
                <strong>Gender:</strong>
                <%= @user.gender %>
              </p>
              <% end %>
              <% if(@user.dob != nil) %>
              <p>
                <strong>Dob:</strong>
                <%= @user.dob %>
              </p>
              <% end %>
              <% if(@user.email != nil) %>
              <p>
                <strong>Email:</strong>
                <%= @user.email %>
              </p>
              <% end %>
            </div>

        </div>
        <div class="span9 pad15">
          <div class="row">
            <div class="span3 animate-account">
              <div class="quote_sections_hue fadeindown animated fadeInDown">
                <strong>Calories Lost Today: </strong>
              </div>
            <div class="pad25"></div>
            </div>
            <div class="span3 animate-account">
              <div class="quote_sections_light fadeindown animated fadeInDown">
                <strong>Calories Gained Today: </strong>
              </div>
            <div class="pad25"></div>
            </div>
            <div class="span3 animate-account">
              <div class="quote_sections fadeindown animated fadeInDown">
                <strong>Calories Balance Today: </strong>
              </div>
            <div class="pad25"></div>
            </div>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>stat id</th>
                <!-- <th>step_count_walking</th>
                <th>step_count_running</th> -->
                <th>seconds walking</th>
                <th>seconds running</th>
                <th>kilo walking</th>
                <th>kilo running</th>
                <th>cal burned walking</th>
                <th>cal burned running</th>
              <th>data_source</th>
                <th>stat date</th>
              </tr>
            </thead>

            <tbody>
              <% @myStats.each do |stat| %>
                <tr>
                  <td><%= stat.id %></td>
                  <!-- <td><%= stat.step_count_walking%></td>
                  <td><%= stat.step_count_running %></td> -->
                  <td><%= stat.seconds_walking%></td>
                  <td><%= stat.seconds_running%></td>
                  <td><%= stat.kilometers_walking%></td>
                  <td><%= stat.kilometers_running%></td>
                  <td><%= stat.calories_burned_walking%></td>
                  <td><%= stat.calories_burned_running%></td>
                  <td><%= stat.data_source%></td>
                  <td><%= stat.stat_date%></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>




<!-- 
<p>
--------------------------my stats info ----------------------------
</p>






<p>
--------------------------my donations info ----------------------------
</p>
 -->

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>donation id</th>
      <th>npo id</th>
      <th>npo name</th>
      <th>amount donated</th>
      <th>calories donated</th>
      <th>date donated</th>
    </tr>
  </thead>

  <tbody>
    <% @myDonations.each do |donation| %>
      <tr>
        <td><%= donation.id %></td>
        <td><%= donation.npo_id %></td>
        <td><%= (Npo.find(donation.npo_id)).name%></td>
        <td><%= donation.amount_donated %></td>
        <td><%= donation.calories_donated %></td>
        <td><%= donation.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
</p>


<p>
--------------------------my user data from FitBit----------------------------
</p>

<table>
  <thead>
    <tr>
      <th>Display Name</th>
      <th>Full Name</th>
      <th>Nick Name</th>
      <th>Gender</th>
      <th>Height</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @fitBitUserInfo["displayName"] %></td>
        <td><%= @fitBitUserInfo["fullName"] %></td>
        <td><%= @fitBitUserInfo["nickName"]%></td>
        <td><%= @fitBitUserInfo["gender"] %></td>
        <td><%= @fitBitUserInfo["height"] %></td>
        <td><%= @fitBitUserInfo["weight"] %></td>
      </tr>
  </tbody>
</table>





<p>


<%= link_to 'Edit', edit_user_path(@user) %> | 
<%= link_to 'View My Challenges', user_challenges_path(@user) %>
</p>

</div>

