<!-- <div class="container wrapper">
<div class="inner_content"> -->
<%= form_for(@cause) do |f| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% @cause.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="span5">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label"><%= f.label :name %></label>
      <div class="controls">
        <input type="text" placeholder="Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= f.label :description %></label>
      <div class="controls">
        <textarea rows="3" type="text" placeholder="Short description about this cause..."></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= f.label :link%></label>
      <div class="controls">
        <input type="text" placeholder="Link">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= f.label :contact%></label>
      <div class="controls">
        <input type="text" placeholder="Contact">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= f.label :user_id %></label>
      <div class="controls">
        <input type="text" placeholder="User">
      </div>
    </div>
    <div class="control-group">
        <label class="control-label">Picture</label>
        <div class="controls">
            <!-- <div class="span4"> -->
                <a href="/"><%= image_tag "team1.jpg"%></a>
                <div class="uploader-tools">
                    <div class="photo-selector">
                        <div class="image-selector">
                            <input type="file" name="userfile">
                        </div>
                    </div>
                    <p class="help-block">Maximum size of ____. JPG or PNG.</p>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- <div>
      <%= f.label :photo %><br>
      <%= f.file_field :photo %>
    </div> -->
    <hr>
    <div class="actions">
      <button class="btn btn-primary">Create Cause</button>
    </div>
  </form>
</div>



<div class="span7">
  <div class="row">
    <div class="span2">
      <div class="slider-image">
        <div class="hover_colour">
          <a href="/"><%= image_tag "buddy1.JPG", alt: "Cause One"%></a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="slider-title">
        <h3>Cause One</h3>
        <p>Cause Description</p>
      </div>
    </div>
    <div class="span2">
      <div class="slider-image">
        <div class="hover_colour">
          <a href="/"><%= image_tag "buddy1.JPG", alt: "Cause Two"%></a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="slider-title">
        <h3>Cause Two</h3>
        <p>Cause Description</p>
      </div>
    </div>
    <div class="span2">
      <div class="slider-image">
        <div class="hover_colour">
          <a href="/"><%= image_tag "buddy1.JPG", alt: "Cause Three"%></a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="slider-title">
        <h3>Cause Three</h3>
        <p>Cause Description</p>
      </div>
    </div>
  </div>
</div>

</div>

  <!-- <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
</div>
  <div class="field">
    <%= f.label :link%><br>
    <%= f.text_area :link%>
  </div>
  <div class="field">
    <%= f.label :contact%><br>
    <%= f.text_area :contact%>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
</div>
<div>
    <%= f.label :photo %><br>
	<%= f.file_field :photo %>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div> -->
<% end %>
<!-- </div>
</div> -->