<div class="container wrapper">
<div class="inner_content">
<%= form_for(@cause) do |f| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% @cause.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="span5">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label"><%= f.label :name %></label>
      <div class="controls">
        <%= f.text_field :name, :autofocus => true, :placeholder => 'Name', :type => 'text', :required => true %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= f.label :description %></label>
      <div class="controls">
        <%= f.text_field :description, :placeholder => 'Description', :type => 'text' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= f.label :link%></label>
      <div class="controls">
        <%= f.text_field :link, :placeholder => 'Link', :type => 'text' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= f.label :contact%></label>
      <div class="controls">
        <%= f.text_field :contact, :placeholder => 'Contact', :type => 'text', :required => true %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= f.label :user_id %></label>
      <div class="controls">
        <%= f.text_field :user_id, :placeholder => 'User ID' %>
      </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= f.label :photo %><br></label>
        <div class="controls">
            <!-- <div class="span4"> -->
                <a href="/"><%= image_tag "team1.jpg"%></a>
                <div class="uploader-tools">
                    <div class="photo-selector">
                        <div class="image-selector">
                            <%= f.file_field :photo, :type => 'file', :required => true %>
                        </div>
                    </div>
                    <p class="help-block">Maximum size of ____. JPG or PNG.</p>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- <div>
      <%= f.label :photo %><br>
      <%= f.file_field :photo %>
    </div> -->
    
    <div class="actions">
      <%= f.submit "Create Cause", :class => 'btn btn-primary btn-rounded' %>
    </div>
  </form>
</div>
<% end %>


<div class="span7">
  <div class="row">
    <div class="span2">
      <div class="slider-image">
        <div class="hover_colour">
          <a href="/"><%= image_tag "buddy1.JPG", alt: "Cause One"%></a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="slider-title">
        <h3>Cause One</h3>
        <p>Cause Description</p>
      </div>
    </div>
    <div class="span2">
      <div class="slider-image">
        <div class="hover_colour">
          <a href="/"><%= image_tag "buddy1.JPG", alt: "Cause Two"%></a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="slider-title">
        <h3>Cause Two</h3>
        <p>Cause Description</p>
      </div>
    </div>
    <div class="span2">
      <div class="slider-image">
        <div class="hover_colour">
          <a href="/"><%= image_tag "buddy1.JPG", alt: "Cause Three"%></a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="slider-title">
        <h3>Cause Three</h3>
        <p>Cause Description</p>
      </div>
    </div>
  </div>
</div>

</div>


</div>
</div>