<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cause.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cause.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @cause.user_id %>
</p>

<%= link_to 'Edit', edit_cause_path(@cause) %> |
<%= link_to 'Back', causes_path %>
