<!--page-->

<!--slider - add your images here-->
<!-- /SLIDER -->
<div class="nivo nivo_height">
	<!-- nivo slider starts -->
	<div class="slider-wrapper theme-default">
		<%= image_tag "large/crescentcitybanner.jpg", alt:"", title: "#nivocaption1"  %>
		<!--img src="../assets/large/crescentcitybanner.jpg" alt="" title="#nivocaption1" /-->
	</div>
	</div>
<!-- add your captions here -->
<div id="nivocaption1" class="nivo-html-caption">CRESCENT CITY CLASSIC</div>
	</div>
	<div id="banner">
		<div class="container intro_wrapper3">
			<div class="inner_content">

				<!--welcome-->
				<div class="welcome_index">
					<div id="time" class="span4">
						<h1 id="pagetimer"></h1>
						<div class="progress">
							<div class="bar"  data-percentage="85">
							</div>
						</div>
					</div>
					<div id="time" class="span4">
					<h1> Time </h1>
					<span id="countdown"></span>
					</div>

					<div id="money" class="span4">
						<h1>Money</h1>
						<h1><%= @crescent_event.fund %> </h1>
					</div>


<!--I think most <span>programmers</span> spend the first 5 years of their career mastering 
<span class="hue">complexity</span>	and the rest of their lives learning <span>simplicity</span>
- Buzz Andersen -->

					</div>
					<!--//welcome-->
				</div>
			</div>
		</div>
		<!--//banner-->

		<div class="container wrapper">
			<div class="inner_content"><div class="row">
					<div class="span12">


						<div id="options">                                           
							<ul id="filters2" class="option-set" data-option-key="filter">
								<li><a href="#filter" data-option-value="*" class=" selected">All</a></li>
								<li><a href="#filter" data-option-value=".category01">Category 01</a></li>                                            
								<li><a href="#filter" data-option-value=".category02">Category 02</a></li>
								<li><a href="#filter" data-option-value=".category03">Category 03</a></li> 
							</ul>                                           
							<div class="clear"></div>
						</div>
						<!-- portfolio_block -->
						<div class="row">      
							<div class="projects">                            
								<div class="span3 element category01" data-category="category01">
									<div class="hover_img">
										<a href="assets/portfolio/1.jpg" data-rel="prettyPhoto[portfolio1]">
											<%= image_tag "portfolio/1.jpg", alt:"" %>	
											</a>
									</div>  
								</div>



								<div class="span3 element category02" data-category="category02">
									<div class="hover_img">
										<a href="assets/portfolio/2.jpg" data-rel="prettyPhoto[portfolio1]">	
											<%= image_tag "portfolio/2.jpg", alt:"" %>	</a>
									</div>
								</div> 

								<div class="span3 element category01" data-category="category01">
									<div class="hover_img">
										<a href="assets/portfolio/3.jpg" data-rel="prettyPhoto[portfolio1]">	
											<%= image_tag "portfolio/3.jpg", alt:"" %>	</a>
									</div>
								</div>


								<div class="span3 element category01" data-category="category01">
									<div class="hover_img">
										<a href="assets/portfolio/4.jpg" data-rel="prettyPhoto[portfolio1]">	
											<%= image_tag "portfolio/4.jpg", alt:"" %>	</a>
									</div> 
								</div>

								<div class="span3 element category02" data-category="category02">
									<div class="hover_img">
										<a href="assets/portfolio/5.jpg" data-rel="prettyPhoto[portfolio1]">	
											<%= image_tag "portfolio/5.jpg", alt:"" %>	</a>
									</div>
								</div>

								<div class="span3 element category03" data-category="category03">
									<div class="hover_img">
										<a href="assets/portfolio/6.jpg" data-rel="prettyPhoto[portfolio1]">	
											<%= image_tag "portfolio/6.jpg", alt:"" %>	</a>
									</div>
								</div>

								<div class="span3 element category01" data-category="category01">
									<div class="hover_img">
										<a href="assets/portfolio/7.jpg" data-rel="prettyPhoto[portfolio1]">	
											<%= image_tag "portfolio/7.jpg", alt:"" %>	</a>
									</div>
								</div>
								<div class="span3 element category03" data-category="category03">
									<div class="hover_img">
										<a href="assets/portfolio/8.jpg" data-rel="prettyPhoto[portfolio1]">	
											<%= image_tag "portfolio/8.jpg", alt:"" %>	</a>
									</div>
								</div>

								<div class="span3 element category02" data-category="category02">
									<div class="hover_img">
										<a href="assets/portfolio/9.jpg" data-rel="prettyPhoto[portfolio1]">	
											<%= image_tag "portfolio/9.jpg", alt:"" %>	</a>
									</div>
								</div>

								<div class="span3 element category03" data-category="category03">
									<div class="hover_img">
										<a href="assets/portfolio/10.jpg" data-rel="prettyPhoto[portfolio1]">	
											<%= image_tag "portfolio/10.jpg", alt:"" %>	</a>
									</div>
								</div>
							</div>
						</div>   
						<div class="clear"></div>
						<!-- //portfolio_block -->   
					</div>
				</div>
			</div>
			<div class="pad25 hidden-desktop"></div>
		</div>

<script type="text/javascript">
//<![CDATA[
	$(window).load(function() {
	$('#nslider').nivoSlider({
	effect: 'fade', directionNav: true, pauseOnHover: true});
	});
//]]>
</script>


<script type="text/javascript">
	//<![CDATA[
$(window).load(function(){	
		$('.projects').isotope({
			});
		});
//]]>
</script>		

<script language="javascript" type="text/javascript">
						var target_year = <%= @crescent_event.date.year %>
						var target_month = <%= @crescent_event.date.month - 1 %> //NOTE month start with jan == 0
						var target_day = <%= @crescent_event.date.day  %>
						var target_hour = <%= @crescent_event.date.hour %>
						var target_min = <%= @crescent_event.date.min%>
						var target_sec = <%= @crescent_event.date.sec %>


						// get tag element
						var cd = document.getElementById("countdown");

						// update the tag with id "countdown" every 1 second
						setInterval(function () {

								cd.innerHTML = countdown( new Date(target_year, target_month,target_day, target_hour,target_min, target_sec) ).toString();
								}, 1000);
</script>
<!--
<script type="text/javascript">
	//<![CDATA[
$(function () {
		$('div.element').hide();
		});
var i = 0;//initialize
var int=0;
$(window).bind("load", function() {
		var int = setInterval("doThis(i)",100);fade in speed in milliseconds
		}); 
function doThis() {
	var imgs = $('div.element').length;
	if (i >= imgs) {
		clearInterval(int);
	}
	$('div.element:hidden').eq(0).fadeIn(100);
	i++;//add 1 to the count
}
//]]>
</script>
<script type="text/javascript">
	//<![CDATA[
$(function () {
		var timerId =
		countdown(
			new Date(),
			function(ts) {
			document.getElementById('pageTimer').innerHTML = ts.toHTML("strong");
			},
			countdown.HOURS|countdown.MINUTES|countdown.SECONDS);
		});
// later on this timer may be stopped
window.clearInterval(timerId);

//]]>
</script>
-->
