

<div class="container wrapper">
  <div class="inner_content">
    <div class="row">
      <div class="span6 pad20">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="form-horizontal">
          <legend>Sign in</legend>
          <div class="control-group">
            <label class="control-label"><%= f.label :email %></label>
            <div class="controls">
              <%= f.email_field :email, :autofocus => true, :placeholder => 'Email', :type => 'email', :required => true %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= f.label :password %></label>
            <div class="controls">
              <%= f.password_field :password, :type => 'password', :required => true %>
            </div>
          </div>
           <% if devise_mapping.rememberable? -%>
              <div class="control-group"><div class="controls"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div></div>
          <% end -%>
          <div class="control-group">
            <div class="controls">
              <div class="btn-group">
                <button class="btn btn-primary">Sign in</button>
                <a href="<%= user_omniauth_authorize_path(:fitbit) %>" class="btn btn-warning">Sign in with FitBit</a>
              </div><br>
              <%= render "devise/shared/links" %> 
            </div>
          </div>
        </div> <!-- /.form-horizontal -->
        <% end %>
      </div>
    </div>
  </div>
</div>
        




	


				
