<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @npo.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @npo.rate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @npo.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @npo.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @npo.email %>
</p>

<%= link_to 'Edit', edit_npo_path(@npo) %> |
<%= link_to 'Back', npos_path %>
