<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeneFitAppv2</title>
  <!-- <= stylesheet_link_tag "application", :media => "all" %> -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="header navbar navbar-inverse">
    <div class="navbar-inner">
      <div class=""></div>
      <div class="container">
        <%= link_to "BeneFit", '#', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to "Home", user_path(current_user)  %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete'  %></li>
            <% else %>
              <li><%= link_to "Home", new_user_session_path  %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
