<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BeneFit | Better You, Better World</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
<!--[if IE]>
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
  <![endif]-->

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="../assets/bootstrap.css" rel="stylesheet">
<link href="../assets/font-awesome.min.css" rel="stylesheet">
<link href="../assets/theme.css" rel="stylesheet">
<link href="../assets/prettyPhoto.css" rel="stylesheet" type="text/css"/>
<link href="../assets/zocial.css" rel="stylesheet" type="text/css"/>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>

<body>
  <!--header-->
  <div class="header">
    <div class="container">
      <!--logo-->
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <i class="fa fa-bars"></i></button>
          <div class="logo">
             <a href="/"><%= image_tag "logo.png"%><!--class="animated bounceInDown"--></a>  
          </div>
          <!--menu-->
             <nav id="main_menu">
          <div class="nav-collapse collapse">
            <ul class="nav nav-pills">
              <li class="dropdown"><a href="/welcome/about">About</a></li>
              <li class="dropdown"><a href="/causes">Causes</a></li>
              <li><a href="/welcome/contact">Contact</a></li>
              <li class="dropdown"><% if user_signed_in? %>
              <li><%= link_to "Account", user_path(current_user)  %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete'  %></li>
            <% else %>
              <li><%= link_to "Sign-in", new_user_session_path  %></li>
            <% end %></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  <!--//header-->
  <%= yield %>
  <!-- footer -->
  <div id="footer">
  <h1>Stay Connected</h1>
  <h3 class="center follow">
  Follow BeneFit for more updates, charity events, and embarrassing photos of our team at post-run after parties. We promise not to "Poke" you. </h3>
  
  <div class="follow_us">
    <a href="http://twitter.com/wearebenefit" class="zocial twitter"></a>
    <a href="http://facebook.com/wearebenefit" class="zocial facebook"></a>
    <a href="http://linkedin.com/in/benefit" class="zocial linkedin"></a>
    <a href="http://google.com/plus/wearebenefit" class="zocial googleplus"></a>
    </div>
  </div>
  
  <!-- footer 2 -->
  <div id="footer2">
    <div class="container">
      <div class="row">
        <div class="span12">
        <div class="copyright">
              BeneFit
              &copy;
            <!--     <script type="text/javascript">
              //<![CDATA[
                var d = new Date()
                document.write(d.getFullYear())
                //]]>
                </script> -->
               - All Rights Reserved, Obviously.
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- up to top -->
        <a href="#"><i class="go-top hidden-phone hidden-tablet fa fa-angle-double-up"></i></a>
        <!--//end-->

</body>
</html>